# for ~dummy test
use FindBin;

# a list directories to get md5 hashes
@directories = ("/home/dummy/md5sync-test", "/home/dummy/md5sync-test/cgi-bin");
#@directories = ($FindBin::RealBin);

# the digest method to be used
@digest_method = ('perl:Digest::MD5',
		  'perl:MD5',
		  'cmd:md5',
		  'cmd:md5sum',
		  'perl:Digest::Perl::MD5',
		  'cmd:cksum',
		  'stat:modtime',
		 );

# exclude these files:
%exclude = ("/home/dummy/md5sync-test/cgi-bin" => ['mail.*'],
	    "/home/dummy/md5sync-test"         => ['cgi-bin/.*'],
	   );

$verbose = 1;
